body{
  margin-top: 0%;
}

.App {
  text-align: center;
  margin-top: 0%;
  height: 100vh;
}

.UserCard{
  display:flex;
  flex-direction: column;
  width:250px;
  border:2px solid black;
  border-radius: 10px;
  padding:1%;
  margin: 5px 5px;
}

.UsersList{
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: left;
}

.UsersForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.App-header{
  background-color: black;
  color: whitesmoke;
  margin-top: 0%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}